.section_heding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
   
}
.section_heding h2{
    font-family: "plus jakarta sans";
        font-weight: 800;
        /* font-size: 1.6rem; */
}